<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppScho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABEA5F481C246CF9000158F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABEA5F611C246CF9000158F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABEA5F6C1C246CF9000158F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
